WEATHERSTACK_API_KEY=
USE_MOCK_WEATHER=true
WEATHER_LOCATIONS=New York,Detroit,Austin,Fremont,Toronto

POSTGRES_USER=my_weather_user
POSTGRES_PASSWORD=my_weather_password
POSTGRES_DB=my_weather_db
DB_HOST=postgres
DB_PORT=5432
DB_NAME=my_weather_db
DB_USER=my_weather_user
DB_PASSWORD=my_weather_password

AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://my_weather_user:my_weather_password@postgres:5432/my_weather_db
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
